header{
    text-align: center;
}
.search-panda{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 4px;
}
label{
    display: block;
    font-size: bold;
}
.bod{
    border:none;
}